
@{
    ViewBag.Title = "Countries List";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (string strCountry in ViewBag.Countries)
    {
        <li>@strCountry</li>
    }    
</ul>

<br/>

<h2>Cities List</h2>
<ul>
    @foreach (string strCities in (List<string>)ViewData["Cities"])
    {
        <li>@strCities</li>
    }
</ul>

